* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.todo-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-row {
  display: contents;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
}

.add-todo-button {
  background-color: green;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
}

.todo-grid div,
.todo-grid button {
  text-align: center;
}
