.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Light Theme */
.container.light {
  background-color: beige;
  color: black;
}

/* Dark Theme */
.container.dark {
  background-color: #121212;
  color: white;

}

.box {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  transition: all 0.4s ease;
}

/* Box styles */
.container.light .box {
  background-color: olive;
  border: 3px solid black;
}

.container.dark .box {
  background-color: #1f1f1f;
  border: 3px solid white;
}

button {
  margin-top: 20px;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.container.light button {
  background-color: black;
  color: white;
}

.container.dark button {
  background-color: white;
  color: black;
  margin-bottom: 20px;
}
