.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 450px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: #4facfe;
}

button {
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0077cc;
}

.output {
  margin-top: 20px;
  padding: 15px;
  background-color: #295582;
  border-radius: 10px;
  text-align: left;
}
